@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">

            <li id="realtime" class="login-info">
                <span class="hide-nav"><i class="fa fa-clock-o"></i><span id="currentdate"></span></span>
            </li>
            <li class="login-info">
                <a href="http://www.ownergolf.co.kr/basic_member/write.htm?mode=update&amp;from_write=out_side&amp;id=gogolf1" class="only_tooltip" title="" data-original-title="회원정보수정"><i class="fa fa-lock"></i> <span>강석수</span></a>
                <a href="http://www.ownergolf.co.kr/zconfig/logout.php"><i class="fa fa-sign-out"></i>로그아웃</a>
            </li>
            <li class="hide-menu"><a href="http://www.ownergolf.co.kr/booking/view.htm"><i class="fa fa-book"></i> 부킹관리</a></li>

            <li class="hide-menu"><a href="http://www.ownergolf.co.kr/booking/view_group.htm">&nbsp;&gt;&nbsp; 통계보기</a></li>

            @*<li>
                @Html.ActionLink("你好，" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>*@
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav"></ul>
}
