<div class="content">
    <h2>Server Error</h2>
</div>
@section Scripts {
    <style type="text/css">
        div[class*="col-"] {
            margin: 0 auto;
        }

        .content-wrap {
            padding-left: 0;
        }

        .content {
            width: 80%;
            border: 0px;
            float: none;
            margin: 0 auto;
        }

        .sidebar {
            display: none;
        }

        h4 {
            margin-top: 20px;
        }
    </style>
}





