
@{
    ViewBag.Title = "OWNER GOLF";
}

<div class="content">

    <!-- Menu Title -->
    <ul class="list-group menu-title">
        <li class="list-group-item list-group-item-info">2016-10-11 접수건</li>
    </ul>				<!--//Menu Title -->

    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                @*<thead>
                <th>매니져</th>
                <th>예약완료</th>
                <th>취소완료</th>
                </thead>*@
                <tbody></tbody>
            </table>
        </div><!--//.table-responsive-->
    </div><!--//.col-xs-12-->


    <div class="col-xs-12">


    </div><!--//.col-xs-12-->

</div><!--//.content-->