
@{
    ViewBag.Title = "패스워드 찾기";
}
<div class="content">

    <form name="form" method="post" action="#" autocomplete="off">
        <input type="hidden" name="find_option" id="find_option" value="find_pw">

        <!-- Menu Title -->
        <ul class="list-group menu-title">
            <li class="list-group-item list-group-item-info">패스워드 찾기</li>
            <li class="list-group-item list-group-item-warning color-red menu-title-help">
                <i class='fa fa-custom astrick'>*</i> 가입 시 작성했던 정보를 입력해주세요.
            </li>
        </ul>					<!--//Menu Title -->

        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th width="5%">회원이름</th>
                            <td width="*"><input type="text" name="name" class="only_focus only_philsu" id="name" /></td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td><input type="text" name="email" class="only_email only_focus only_philsu" id="email" /></td>
                        </tr>
                        <tr>
                            <th>회원아이디</th>
                            <td>
                                <input type="text" name="id" class="only_focus only_philsu" id="id" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//.col-xs-12-->

        <div class="col-xs-12">
            <!--Button Group -->
            <div class="btn-group-inline">
                <div class="form-group button-group">
                    <button type='button' class='btn btn-xs btn-primary' name='button_write' id='button_find'><i class='fa fa-search'></i> 패스워드 찾기</button>&nbsp;<button type='button' class='btn btn-xs btn-warning' name='button_back' id='button_back'><i class='fa fa-step-backward'></i> 뒤로</button>&nbsp;
                </div>
            </div>
            <!--//Button Group -->
        </div><!--//.col-xs-12-->

    </form>
</div><!--//.content-->

@section Scripts {
<style type="text/css">
    body {
        background: none;
    }

    .container {
        border: 0px;
    }

    .content-wrap {
        padding: 0;
        border: 0px;
    }

    .content {
        padding: 5px;
        border: 0px;
    }

    .sidebar {
        display: none;
    }

    .col-xs-12 {
        margin-top: 0px !important;
    }
     ul .clause {
        display:none;
    }
</style>    <!--[      Custom Area      ]-->
<style type="text/css">
		form {width:40%; margin:0 auto;}
		@@media (max-width:700px) {form {width:100%;}}
        .content-wrap {position:relative; height:auto; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; padding-top:55px;  background:#fff;}

		.table > tbody > tr > th {text-align:left;}

		input[type="text"], input[type="password"] {width:100%; height:34px; color: #999; padding-left: 6px; padding-right: 24px; font-weight:bold;}
		input[type="text"]:focus, input[type="password"]:focus {color:#333;}
</style>

<script type="text/javascript">
		$(window).load(function(){
			$("form .only_focus").eq(0).focus();
		});

		$(function(){
			$("form .only_focus").removeClass('ime-eng ime-eng-only').addClass('ime-kor');
			$("#id").removeClass('ime-kor ime-eng-only').addClass('ime-eng');

			$("#button_find").on({
				click:function(){
					var find_option=$('#find_option').val();
					var name=$('#name').val();
					var email = $('#email').val();
					var id=$('#id').val();

					if(!name){
						alert('이름은 필수입니다.');		$('#name').focus();	return false;
					}
					if (!email) {
					    alert('이메일은 필수입니다.'); $('#email').focus(); return false;
					}
					if(!id){
							alert('아이디는 필수입니다.');	$('#id').focus();	return false;
					}

					$.ajax({
						type:'POST',
						url:'@Url.Action("ForgotPassword", "Account")',
						data : {
							name:name,
							email: email,
							loginname: id
						},
						success: function (rData) {
						    if (rData.isSuccess) {
						        alert('메일 보내드렸습니다.\n메일에서 확인하시면 되겠습니다.');
						        window.location.href = "/";
						    }
						    else {
						        alert("가입된 회원이 아니거나 승인된 회원이 아닙니다.");
						    }
						}
					});
				}//change
			});
			/*뒤로가기 버튼*/
			$('form #button_back').click(function(){	location.href='/'	});
		});
</script>

    
}

