<div class="content reg-wrap">
  @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @name = "form", @id = "MYFORM" }))
  {
        <input type="hidden" name="mode" id="mode" value="write">
        <input type="hidden" name="from_write" id="from_write" value="out_side">
        <input type="hidden" name="no" class="no" value="">
        <input type="hidden" name="old_id" class="old_id" value="">
        <input type="hidden" name="old_pw" class="old_pw" value="">

        <!-- Menu Title -->
        <ul class="list-group menu-title">
            <li class="list-group-item list-group-item-info">회원 등록</li>
            <li class="list-group-item list-group-item-warning color-red menu-title-help">
                <i class='fa fa-custom astrick'>*</i> 표시는 필수입니다.<br>비밀번호가 있어야 로그인이 가능합니다.<br>비밀번호 안전도 점검: <a href='#' class='only_tooltip' title='비밀번호가 얼마나 안전한가 점검해 보는 사이트<br />등록하고자 하는 비밀번호를 넣어보면 얼마만에 해커가 풀수 있는지 점검.<br />가능하면 특수문자를 포함해서 문자와수자를 혼합해서 사용하세요!' id='open_how_secure_passwd'>https://howsecureismypassword.net</a>
            </li>
        </ul>
        <script>
						$(function(){
							/*안전도 점검 사이트 오픈*/
							$("#open_how_secure_passwd").on({
								click:function(){
									var url=$(this).text();
									window.open(url,'howsecureismypassword','top=10,width=600,height=500');
								}
							});
						});
        </script>
        <!--//Menu Title -->

        <div class="col-xs-12 col-sm-6">
            <div class="clause">
                <h4 class="text-bold">개인정보 처리방침</h4>

                <p></p>

                <p>여러분의 개인정보는 서비스의 원활한 제공을 위하여 여러분이 동의한 목적과 범위 내에서만 이용됩니다. 오너 골프는 여러분의 동의나 법률의 특별한 규정 등 개인정보 보호법에 해당하지 않는 경우 여러분의 개인정보를 절대 제3자에게 제공하지 않습니다. 개인정보 취급방침이 바뀐 때에는 여러분이 언제든지 그 내용과 이유를 쉽게 알 수 있도록 공지사항을 통하여 알려 드리겠습니다. 오너 골프는 개인정보 보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 이와 관련한 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.</p>

                <p>여러분의 개인정보는 여러분에게 더 좋은 서비스를 제공하기 위한 목적을 위해 활용됩니다.</p>

                <p>오너 골프는 여러분에게 더 나은 이용자 경험을 제공하는 데 위해 필요한 개인정보를 수집합니다. 여러분이 동의한 이용약관에 따라 서비스의 다양한 기능을 제공하기 위해서 여러분의 본인 여부나 생년월일, 계정이나 연락처 및 사용기기의 확인이 필요한 경우가 있습니다. 또한, 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별?인증, 회원자격 유지?관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 각종 고지?통지, 물품배송, 서비스 제공, 청구서 발송, 콘텐츠 제공, 본인 인증, 요금결제 및 정산 등을 목적으로 개인정보를 처리합니다. 개별적인 공지사항이나 서비스 이용과 관련된 문의나 분쟁, 이 외에도 신규 서비스 개발 및 맞춤형 서비스 제공 및 유효성 확인, 기능 개선, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 각종 이벤트나 광고성 정보의 제공 및 참여기회 제공, 법령 등에 규정된 의무의 이행, 법령이나 이용약관에 반하여 여러분에게 피해를 줄 수 있는 행위의 방지를 위해서도 여러분의 개인정보가 활용됩니다.</p>

                <p>오너 골프이 더 나은 서비스를 제공해 드리기 위해 수집하는 여러분의 개인정보는 아래와 같습니다.오너 골프는 여러분이 서비스에 처음 가입할 때 또는 서비스를 이용하는 과정에서 홈페이지 또는 서비스 등을 통하여 여러분의 전화번호, 이용자 이름(닉네임), 오너 골프 계정 사용 시 이메일, 비밀번호가 수집되며, 서비스 아이디, 접속IP정보가 선택적으로 수집됩니다. 오너 골프는 수집하는 개인정보에 대하여 여러분의 동의를 받고 서비스를 제공하게 됩니다.</p>

                <p>오너 골프는 위탁계약 체결 시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적?관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리?감독, 손해배상 등의 사항들에 대해 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다. 또한 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>

                <p>여러분의 개인정보는 동의를 받은 개인정보의 수집 및 이용목적이 달성되면 법령 또는 내부방침에 의해 보존할 필요가 있는 경우를 제외하고는 지체없이 파기됩니다.</p>

                <p>여러분의 개인정보는 여러분으로부터 동의를 받은 수집 및 이용 목적이 달성된 때에는 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 관계 법령에서 정한 일정한 기간 동안 보관한 다음 파기합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기하고, 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 다만, 서비스의 부정한 이용으로 인한 분쟁을 방지하기 위한 내부방침에 따라 서비스의 부정이용기록은 1년간 보존한 다음 위의 방법으로 파기됩니다. 오너 골프이 법령에 따라 보관하는 개인정보 및 해당 법령은 아래 표와 같습니다.</p>

                <p>
                    보존 항목: 계약 또는 청약철회 등에 관한 기록<br />
                    근거 법령: 전자상거래 등에서의 소비자보호에 관한 법률<br />
                    보존 기간: 5년
                </p>

                <p>
                    보존 항목: 대금결제 및 재화 등의 공급에 관한 기록<br />
                    근거 법령: 전자상거래 등에서의 소비자보호에 관한 법률<br />
                    보존 기간: 5년
                </p>

                <p>
                    보존 항목: 소비자의 불만 또는 분쟁처리에 관한 기록<br />
                    근거 법령: 전자상거래 등에서의 소비자보호에 관한 법률<br />
                    보존 기간: 3년
                </p>

                <p>
                    보존 항목: 표시/광고에 관한 기록<br />
                    근거 법령: 전자상거래 등에서의 소비자보호에 관한 법률<br />
                    보존 기간: 6개월
                </p>

                <p>
                    보존 항목: 세법이 규정하는 모든 거래에 관한 장부 및 증빙서류<br />
                    근거 법령: 국세기본법<br />
                    보존 기간: 5년
                </p>

                <p>
                    보존 항목: 전자금융 거래에 관한 기록<br />
                    근거 법령: 전자금융거래법<br />
                    보존 기간: 5년
                </p>

                <p>
                    보존 항목: 웹사이트 방문기록<br />
                    근거 법령: 통신비밀보호법<br />
                    보존 기간: 3개월
                </p>

                <p>오너 골프는 여러분의 권리를 지켜드립니다.</p>

                <p>여러분(만 14세 미만인 경우 법정 대리인)은 언제든지 전자우편이나 서비스 내 문의하기를 통해 여러분의 개인정보를 조회하거나 수정할 수 있으며 수집?이용에 대한 동의 철회를 위해 이용자 개인정보를 수정하거나 탈퇴를 요청할 수도 있습니다. 보다 구체적으로는 서비스 내 계정 변경, 탈퇴(동의 철회)를 위해서는 서비스 내 "탈퇴하기"를 클릭하면 되며, 고객센터를 통해 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다. 여러분이 개인정보의 오류에 대한 정정 또는 삭제를 요청하신 경우 오너 골프는 정정이나 삭제를 완료하기 전까지 해당 개인정보를 이용 또는 제공하지 않습니다.</p>

                <p>오너 골프는 안전성 확보에 필요한 조치를 하고 있습니다.오너 골프는 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다. 오너 골프는 개인정보를 처리하는 DB 시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>

                <p>오너 골프는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>

                <p>
                    - 개인정보보호책임자<br />
                    - 성명: 최동택<br />
                    - 직위: 대표자<br />
                    - 연락처: 031-410-6133
                    - 이메일: dowonboy@naver.com
                </p>

                <p>여러분은 오너 골프 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보보호책임자나 문의하기를 통해 담당부서로 문의하실 수 있습니다. 오너 골프는 여러분의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.</p>

                <p>개인정보 취급방침이 변경된다면 별도 공지를 통해 알려 드리겠습니다.오너 골프는 법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보 취급방침을 수정할 수 있습니다. 개인정보 취급방침이 변경되는 경우 오너 골프는 변경 사항을 공지사항을 통해 게시하며, 변경된 개인정보 취급방침은 게시한 날로부터 7일 후부터 효력이 발생합니다. 다만, 여러분의 권리에 중요한 변경이 있을 경우 변경될 내용을 30일 전에 미리 알려 드리겠습니다.</p>

                <p>공고일자: 2016년 01월 01일</p>
                <p>시행일자: 2016년 01월 01일</p>
            </div>
            <div class="chk-box">
                <input type="checkbox" name="c1" class="only_philsu" />
                <span>개인정보 처리방침을 읽었으며 내용에 동의합니다.</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="clause">
                <h4 class="text-bold">서비스 이용약관</h4>

                <p></p>

                <p>이 약관은 오너 골프에서 제공하는 오너 골프 및 오너 골프에서 제공하는 제반 서비스(이하 서비스)와 관련하여, 오너 골프과 여러분 간에 서비스의 이용조건 및 절차, 회사와 회원간의 권리·의무 및 기타 필요한 사항을 규정함을 목적으로 합니다. 본 약관은 PC 통신 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 준용됩니다.</p>

                <p>오너 골프는 여러분이 인터넷과 모바일을 통해 이용할 수 있는 골프장 부킹 서비스를 제공합니다. 더 나은 서비스의 제공을 위해 여러분에게 오너 골프 서비스 이용과 관련된 공지사항, 관리 메시지 및 기타 광고를 비롯한 다양한 정보를 표시하거나 여러분의 메일 계정으로 직접 발송할 수 있습니다.</p>

                <p>서비스 이용 중 시스템 오류나 불편한 개선사항 등 문제점을 발견하신다면 언제든지 고객센터로 알려주시기 바랍니다.</p>

                <p>오너 골프 계정과 함께 더 넓은 서비스 이용이 가능합니다.</p>

                <p>오너 골프 계정이란 여러분이 서비스를 사용하는 데 필요한 이메일 주소 및 패스워드 기반의 로그인 계정을 의미합니다. 서비스를 이용하기 위하여 오너 골프 계정이 필요할 수 있으며, 어떠한 기능은 오너 골프 계정이 반드시 필요할 수 있습니다. 오너 골프 계정은 여러분이 약관에 동의하고 여러분의 이메일 주소를 입력하고 패스워드를 등록한 후 필요한 경우 오너 골프이 이메일 주소 또는 전화번호를 인증한 후 승낙하는 절차로 생성됩니다. 여러분이 서비스의 계정을 만드신다면 본 약관에 동의하는 것으로 간주됩니다.</p>

                <p>오너 골프는 오너 골프이 여러분의 오너 골프 계정을 삭제하였던 경우, 다른 사람의 명의나 이메일 주소 등 개인정보를 이용하여 오너 골프 계정을 생성하려 한 경우, 오너 골프 계정 생성 시 필요한 정보를 입력하지 않거나 허위의 정보를 입력한 경우, 서비스 이용목적이 회사의 정책에 적합하지 않거나 부정한 용도로 간주될 경우 등에는 여러분의 계정 생성을 승낙하지 않거나 사후에 이용계약을 해지할 수 있습니다.</p>

                <p>오너 골프 계정은 여러분 본인만 이용할 수 있습니다. 다른 사람이 여러분의 계정을 이용하도록 허락할 수 없으며 여러분은 다른 사람이 여러분의 헬로닝 계정을 무단으로 사용할 수 없도록 직접 비밀번호를 관리하여야 합니다. 만약 무단 사용이 발견된다면, 오너 골프 고객 센터를 통하여 오너 골프에게 알려주시기 바라며, 오너 골프는 무단 사용을 막기 위한 방법을 여러분에게 안내하도록 하겠습니다.</p>

                <p>여러분은 오너 골프 서비스 내 설정 화면을 통하여 여러분의 정보를 열람하고 수정할 수 있습니다. 다만, 서비스의 제공 및 관리를 위해 필요한 헬로닝 계정, 전화번호, 단말기 식별번호 등 일부 정보는 수정이 불가능할 수 있습니다. 이러한 경우 직접 오너 골프 서비스에서 수정하거나 이메일, 고객 센터를 통하여 알려 주시기 바랍니다.</p>

                <p>잘못된 서비스 이용을 금지합니다.</p>

                <p>여러분이 오너 골프 서비스를 자유롭게 이용하고 즐겨주시는 것은 저희로서는 매우 감사하고 보람찬 일입니다. 다만, 여러분은 오너 골프 서비스를 잘못된 방법으로 이용할 수 없다는 점을 꼭 기억해주시기 바랍니다.</p>

                <p>예를 들어, 여러분은 잘못된 방법으로 오너 골프 서비스의 제공을 방해하거나 오너 골프가 안내하는 방법 이외의 다른 방법을 사용하여 오너 골프 서비스에 접근할 수 없습니다. 또한, 다른 오너 골프 서비스 이용자의 정보를 무단으로 수집, 이용하거나 다른 사람들에게 제공하는 행위도, 오너 골프 서비스를 영리 목적으로 이용하는 것도, 부적절한 정보나 저작권 침해 정보 등 공서양속 및 법령에 위반되는 내용의 정보 등을 발송하거나 게시하는 행위도 금지된다는 점을 이해하여 주시기 바랍니다. 또한 오너 골프의 동의 없이 오너 골프 서비스 또는 이에 포함된 소프트웨어 일부를 복사, 수정, 배포, 판매, 양도, 대여, 담보 제공하거나 타인에게 그 이용을 허락하는 행위와 소프트웨어를 역설계하거나 소스 코드의 추출을 시도하는 등 오너 골프 서비스를 복제, 분해 또는 모방하거나 기타 변형하는 행위도 당연히 금지됩니다.</p>

                <p>여러분이 관련 법령, 오너 골프의 모든 약관 또는 정책을 준수하지 않는다면, 오너 골프는 여러분의 부정행위를 조사하거나 여러분의 서비스 이용을 잠시 또는 계속하여 중단할 수 있습니다. 그 밖의 서비스 이용에 관한 사항들은 고객센터를 통해 문의해 주시기 바랍니다.</p>

                <p>여러분의 개인정보를 보호합니다.</p>

                <p>오너 골프는 여러분의 개인정보를 절대 악용하여 이용하지 않습니다. 여러분의 개인정보는 오너 골프 서비스의 원활한 제공을 위하여 여러분이 동의한 목적과 범위 내에서만 이용됩니다. 법령에 의하거나 여러분이 별도로 동의하지 아니하는 한 오너 골프가 여러분의 개인정보를 제3자에게 제공하는 일은 결코 없습니다. 오너 골프이 여러분의 개인정보를 안전하게 취급하기 위하여 기울이는 노력이나 기타 상세한 사항은 오너 골프 개인정보 취급방침을 참고하여 주십시오.</p>

                <p>더 나은 서비스를 위해 가끔은 서비스 제공이 중지될 수도 있습니다.</p>

                <p>오너 골프는 서비스를 하루도 빠짐없이 제공하기 위하여 최선의 노력을 다합니다. 다만, 장비의 유지 보수를 위한 정기 또는 임시 점검 또는 다른 상당한 이유로 서비스의 제공이 일시 중단될 수 있으며, 이때에는 미리 서비스 제공화면에 공지하겠습니다. 만약, 오너 골프로서도 예측할 수 없는 이유로 오너 골프 서비스가 중단된 때에는 오너 골프이 상황을 파악하는 즉시 통지하겠습니다.</p>

                <p>원치 않으시면 해지하실 수 있습니다.</p>

                <p>여러분이 오너 골프 서비스의 이용을 더 이상 원치 않는 때에는 언제든지 오너 골프 서비스 내 제공되는 메뉴를 이용하여 오너 골프 서비스 이용계약의 해지 신청을 할 수 있으며, 오너 골프는 법령이 정하는 바에 따라 신속히 처리하겠습니다.</p>

                <p>이용계약이 해지되면 법령 및 개인정보 취급방침에 따라 여러분의 정보를 보유하는 경우를 제외하고는 여러분의 정보나 여러분이 생성한 모든 데이터는 삭제됩니다. 다만, 여러분이 작성한 게시물 또는 댓글이 제3자에 의하여 스크랩 또는 다른 공유 기능으로 게시되거나, 여러분이 제3자의 게시물에 댓글 등 게시물을 추가하는 등의 경우에는 다른 이용자의 정상적 서비스 이용을 위하여 필요한 범위 내에서 오너 골프 서비스 내에 삭제되지 않고 남아 있게 됩니다.</p>

                <p>오너 골프의 잘못은 오너 골프이 책임집니다.</p>

                <p>오너 골프의 과실로 인하여 여러분이 손해를 입게 될 경우 오너 골프는 법령에 따라 여러분의 손해를 배상하겠습니다. 다만 오너 골프는 서비스에 접속 또는 이용과정에서 발생하는 개인적인 손해, 제3자가 불법적으로 오너 골프의 서버에 접속하거나 서버를 이용함으로써 발생하는 손해, 제3자가 오너 골프 서버에 대한 전송 또는 오너 골프 서버로부터의 전송을 방해함으로써 발생하는 손해, 제3자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해, 전송된 데이터의 생략, 누락, 파괴 등으로 발생한 손해, 명예훼손 등 제3자가 오너 골프 서비스를 이용하는 과정에서 여러분에게 발생시킨 손해에 대하여 책임을 부담하지 않습니다. 또한 오너 골프는 법률상 허용되는 한도 내에서 간접 손해, 특별 손해, 결과적 손해, 징계적 손해, 및 징벌적 손해에 대한 책임을 부담하지 않습니다.</p>

                <p>필요에 의해 약관이 수정될 수도 있습니다.</p>

                <p>오너 골프는 법률이나 오너 골프 서비스의 변경사항을 반영하기 위한 목적 등으로 본 약관의 서비스 이용방법, 서비스 안내 및 고지사항 등을 수정할 수 있습니다. 본 약관이 변경되는 경우 오너 골프는 변경 사항을 서비스의 공지사항에 게시하며, 변경된 약관은 게시한 날로부터 15일 후부터 효력이 발생합니다. 다만 약관의 중요한 변경이 있을 경우 오너 골프는 오너 골프 계정으로 사용하는 이메일 주소로 이메일을 발송하거나, 알림 메시지를 띄우는 등 합리적으로 가능한 방법으로 여러분에게 변경된 내용을 30일 전에 미리 알려드리겠습니다.</p>

                <p>오너 골프는 변경된 약관을 게시한 날로부터 효력이 발생하는 날까지 약관변경에 대한 여러분의 의견을 듣고 더 나은 개선 방향을 고민하겠습니다. 위 기간이 지나도록 여러분의 의견이 오너 골프에 접수되지 않으면, 여러분이 변경된 약관에 따라 서비스를 이용하는 데에 동의하는 것으로 간주하겠습니다. 여러분이 변경된 약관에 동의하지 않는 경우 안타깝게도 변경된 약관의 적용을 받는 해당 서비스의 제공은 더 이상 불가능하게 됩니다.</p>

                <p>여러분의 목소리를 듣습니다.</p>

                <p>오너 골프는 여러분과의 의견 교환을 소중하게 생각합니다. 여러분은 언제든지 오너 골프 고객센터를 통하여 의견을 개진할 수 있습니다. 오너 골프는 오너 골프 계정으로 사용하는 이메일 주소로 이메일을 발송하거나 전자쪽지를 보내는 방법 등으로 회원에게 여러 가지 소식을 알려드리며, 회원 전체에 대한 통지는 7일 이상 오너 골프 서비스 초기화면 또는 공지사항에 게시함으로써 효력이 발생합니다.</p>

                <p>본 약관은 오너 골프와 여러분과의 관계에 적용되며, 제3자의 수익권을 발생시키지 않습니다.</p>

                <p>여러분이 본 약관을 준수하지 않은 경우에, 오너 골프이 즉시 조치를 취하지 않더라도 오너 골프이 가지고 있는 권리를 포기하는 것이 아니며, 본 약관 중 일부 조항의 집행이 불가능하게 되더라도 다른 조항에는 영향을 미치지 않습니다.</p>

                <p>본 약관 또는 오너 골프 서비스와 관련하여서는 대한민국의 법률이 적용됩니다. 오너 골프 서비스 관련 문의사항이 있으시면 언제든지 오너 골프 서비스 내 고객센터를 통해 문의해 주시기 바랍니다.</p>

                <p>공고 일자 : 2014년 12월 30일</p>
                <p>시행 일자 : 2015년 2월 1일</p>
            </div>
            <div class="chk-box">
                <input type="checkbox" name="c2" class="only_philsu" />
                <span>서비스 이용약관을 읽었으며 내용에 동의합니다.</span>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="text-right" width="5%"><i class='fa fa-custom astrick'>*</i>아이디</th>
                            <td class="text-left">
                                <input type="text" name="LoginName" class="id only_focus only_philsu only_id" maxlength="20">
                                <span class="comment"> (4~20자,첫글자는 영문으로시작 그후엔 영문,숫자, _ ,- 만 가능)</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right"><i class='fa fa-custom astrick'>*</i>비밀번호</th>
                            <td class="text-left">
                                <input type="password" name="Password" class="pw only_password only_focus only_philsu" value="">
                                <button type="button" class="btn btn-xs bg-orange" onclick="delete_pw('pw');">지우기</button>
                                <span class="comment"> 4자 이상(가능하면 특수문자를 포함해 영문,숫자를 혼용할것)</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right">비밀번호</th>
                            <td class="text-left">
                                <input type="password" name="ConfirmPassword" class="re_pw only_password only_focus" value="">
                                <button type="button" class="btn btn-xs bg-orange" onclick="delete_pw('re_pw');">지우기</button>
                                <span class="comment">(재확인)</span>

                            </td>
                        </tr>
                        <tr>
                            <th class="text-right"><i class='fa fa-custom astrick'>*</i>이름</th>
                            <td class="text-left">
                                <input type="text" name="Name" class="name only_focus only_philsu only_delete_space only_HanEngNum" value="" maxlength="20">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right"><i class='fa fa-custom astrick'>*</i>핸드폰</th>
                            <td class="text-left">
                                <input type="text" name="Phone" value="" class="mobile only_mobile only_focus only_philsu" maxlength="15">
                                <span class="comment"> (ex:0xx-xxxx-xxxx)</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right">이메일</th>
                            <td class="text-left">
                                <input type="text" name="Email" class="email only_email only_focus " value="" maxlength="40">
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right"><i class='fa fa-custom astrick'>*</i>자동입력<br />방지</th>
                            <td class="captcha-wrap">
                                <img style="margin:8px; width:120px;height:30px" src="/Common/Code?sid=2011" alt="" id="captcha" />
                                <a class="fa fa-refresh fa-2x only_tooltip" aria-hidden="true" title="이미지 새로고침" id="img_captcha_refresh"></a>
                                <br />
                                <input name="captcha_code" type="text" id="captcha_code" class="only_focus only_philsu only_delete_space_upper" maxlength="5">
                                <span class="comment" id="captcha_message"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!--//.table-responsive-->
        </div><!--//.col-xs-12-->

        <div class="col-xs-12">
            <!--Button Group -->
            <div class="btn-group-inline">
                <div class="form-group button-group">
                    &nbsp;<button type='button' class='btn btn-xs btn-success' name='button_write' id='button_insert'><i class='fa fa-check'></i> 등록</button>&nbsp;&nbsp;<button type='button' class='btn btn-xs btn-warning' name='button_back' id='button_back'><i class='fa fa-step-backward'></i> 뒤로</button>&nbsp;
                </div>
            </div>
            <!--//Button Group -->
        </div><!--//.col-xs-12-->

  }
</div><!--//.content-->
@section Scripts {
<style type="text/css">
    body {
        background: none;
    }

    .container {
        border: 0px;
    }

    .content-wrap {
        padding: 0;
        border: 0px;
    }

    .content {
        padding: 5px;
        border: 0px;
    }

    .sidebar {
        display: none;
    }

    .col-xs-12 {
        margin-top: 0px !important;
    }
     ul .clause {
        display:none;
    }
</style>    <!--[      Custom Area      ]-->
<style type="text/css">
		form {width:80%; margin:0 auto;}
		.content-wrap {position:relative; height:auto; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; padding-top:55px; background:#fff;}
		input[type="text"], input[type="password"], select {width:130px !important; height:25px  !important;}

		.captcha-wrap input[type="text"] {width:150px !important; margin-bottom:10px; margin-left:10px;}
		.captcha-wrap .fa-refresh {vertical-align:middle; text-decoration:none;}
		.captcha-wrap .comment {line-height: 25px; vertical-align: top;}
</style>

<script type="text/javascript">
		re_gong = /\s+/g;	//공백제거
		$(window).load(function(){
			//window.resizeTo(700,750);
			//$("form .only_focus").eq(0).focus();
		});

		$(function(){
			$(".only_focus").removeClass('ime-kor ime-eng-only').addClass('ime-eng');
			$(".name").removeClass('ime-eng ime-eng-only').addClass('ime-kor');

			/*자동입력방지를 위한 이미지 표시*/
			$("#captcha_code").on({
				focus:function(){
					$("#captcha_message").text('');
				},
				change:function(){
				    var captcha = $(this).val();
				    $.post('@Url.Action("VaildateCaptcha","Common")', { sid: 2011, captcha: captcha }, function(response){
				        if (response.isSuccess) {
							$("#captcha_message").text('');
							$("#captcha_message").text('일치');
							change_captcha();	/* captcha 이미지 새로고침*/
						}else{
							$("#captcha_message").text('');
							$("#captcha_message").text('불일치');
						}
					});
					return false;
				}
			 });
			 /* captcha 이미지 새로고침*/
			 $('#img_captcha_refresh').click(function() {
				change_captcha();
			 });
			 
			 function change_captcha(){
				//document.getElementById('captcha').src="/captcha/get_captcha.php?rnd=" + Math.random();
			     var captcha_img = '@Url.Action("Code", "Common")'+"?sid=2011&hash=" + new Date().valueOf();
				$("#captcha").attr("src",captcha_img);
			 }
			 function captcha_message_check(){
				if($('#from_write').val()=='out_side'){
					var captcha_message=$("#captcha_message").text();
					if(captcha_message!='일치'){
						alert('자동입력방지 코드가 입력되지 않았거나 동일하지 않습니다.');
						$('#captcha_code').focus().select();
						return "NO";
					}
				}
			}

			$("form .id").on({
				change:function(){
					var data=$(this).val();
					if(data){
						$.ajax({
							type:'POST',
							url: '@Url.Action("CheckLoginName", "Account")',
							data : {
							    loginname: data
							},
							success:function(returnData){
							    if (!returnData.isSuccess) {
                                    alert("아이디 이미 존재하였습니다,다른 아이디를 입력하세요")
							        $('form .id').val('').focus().select();
							    }
							}
						});
					}
				}//change
			});

		    $("form .email").on({
				change:function(){
					var data=$(this).val();
					if(data){
						$.ajax({
							type:'POST',
							url: '@Url.Action("CheckEmail", "Account")',
							data : {
							    email: data
							},
							success: function (rData) {
							    if (!returnData.isSuccess) {
							        alert("이메일 이미 존재하였습니다,다른 이메일을 입력하세요")
							        $('form .email').val('').focus().select();
							    }
							}
						});
					}
				}//change
			});
			$('form #button_insert').click(function(){
				/* 외부에서 회원가입시 */
				if($('#from_write').val()=='out_side'){
					var c1=$("input:checkbox[name='c1']");
					var c2=$("input:checkbox[name='c2']");

					if(!$(c1).prop("checked")){
						alert('개인정보 처리방침에 동의하셔야 합니다.');
						c1.focus();	return false;
					}
					if(!$(c2).prop("checked")){
						alert('서비스 이용약관에 동의하셔야 합니다.');
						c1.focus();	return false;
					}
				}

				if(check_pw()=='NO')				return false;	/* 패스워드 체크후 */
				if(captcha_message_check()=='NO')	return false;	/* captcha 메시지 체크후 */

				write_question('');

			});//등록버튼
			$('form #button_back').click(function(){	history.go(-1);		});	//삭제버튼
		});

		function check_pw(){
			var pw=$('.pw').val();
			var re_pw=$('.re_pw').val();
			if(pw && pw!=re_pw){
				alert('비밀번호와 재확인용 비밀번호가 틀립니다.');
				$('.re_pw').focus().select();
				return "NO";
			}
		}
		function delete_pw(check_class){
			if(check_class=='pw')			$(".pw").val('').focus();
			else if(check_class=='re_pw')	$(".re_pw").val('').focus();
		}
</script>
}